{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for Order</title>
</head>
<body>
    <div class="container">
        <p>
            <h3>Payment Successful</h3>
            <p>Thank you for purchase!</p>
            <p>If you have any question, please let us know through emails.</p>
        </p>

    </div>
</body>
</html>
{% endblock %}